* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    background: #72AAFF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(45.34deg, #1D2252 5.66%, #72AAFF 50.01%, #00FFFF 94.35%);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45.34deg, #1D2252 5.66%, #72AAFF 50.01%, #00FFFF 94.35%);
    font-family: 'Montserrat', sans-serif;
    font-size: 62%;
    color: white;
    
}

h1 {
    font-size: 1.1em;
}

.location {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    
}

.temperature {
    height: 30vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
    
}

.degree-section span {
    margin: .5em;
    font-size: 3.5em;
}

.degree-section h2 {
    font-size: 7em;
}

.temperature-description {
    font-size: 3em;
   
}

.daily-description {
    margin-top: .5em;
    font-size: 1.6em;
    text-align: center;
}

.weekly { 
    width: 95%;
    display: flex;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.404);
    box-shadow: 0 10px 6px -6px rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
}

.weekly > div {
    color: black;
    font-size: 1.3em;
    padding: 12px 8px;
    text-align: center;
    margin-top: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between ;
   
}

