* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    background: #72AAFF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(45.34deg, #1D2252 5.66%, #72AAFF 50.01%, #00FFFF 94.35%);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45.34deg, #1D2252 5.66%, #72AAFF 50.01%, #00FFFF 94.35%);
    font-family: 'Montserrat', sans-serif;
    font-size: 62%;
    color: white;
    
}

h1 {
    font-size: 1.1em;
}

.location {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    
}

.temperature {
    height: 30vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
    
}

.degree-section span {
    margin: .5em;
    font-size: 3.5em;
}

.degree-section h2 {
    font-size: 7em;
}

.temperature-description {
    font-size: 3em;
   
}

.daily-description {
    margin-top: .5em;
    font-size: 1.6em;
    text-align: center;
}

.weekly { 
    width: 95%;
    display: flex;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.404);
    box-shadow: 0 10px 6px -6px rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
}

.weekly > div {
    color: black;
    font-size: 1.3em;
    padding: 12px 8px;
    text-align: center;
    margin-top: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between ;
   
}

.bg-default {
    background-image: url('https://images.unsplash.com/photo-1531147646552-1eec68116469?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}


.bg-cloudy {
    background-image: url('https://images.unsplash.com/photo-1479688895406-3f032f15f0ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}

.bg-partly-cloudy-day {
    background-image: url('https://turntable.kagiso.io/images/partly-cloudy-1173077-639x447.width-800.jpg');
}

.bg-partly-cloudy-night {
    background-image: url('https://i.pinimg.com/originals/82/82/6c/82826c36941bafde93f3598ac41931b6.jpg');
}

.bg-rain {
    background-image: url('https://images.unsplash.com/photo-1417008914239-59b898b49382?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1364&q=80');
}

.bg-sunny {
    background-image: url('https://images.unsplash.com/photo-1531147646552-1eec68116469?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}

.bg-clear-night {
    background-image: url('https://cdn.pixabay.com/photo/2017/06/08/06/03/british-columbia-2382640_960_720.jpg');
}

.bg-snow {
    background-image: url('https://cdn.pixabay.com/photo/2018/12/09/09/15/christmas-3864552_960_720.jpg');
}

.bg-sleet {
    background-image: url('https://cdn.britannica.com/67/123867-050-9D287BC3/Sleet-ground.jpg');
}

.bg-wind {
    background-image: url('https://cdn.pixabay.com/photo/2019/01/26/18/41/trees-3956743_960_720.jpg');
}

.bg-fog {
    background-image: url('https://cdn.pixabay.com/photo/2019/08/28/12/20/landscape-4436636_960_720.jpg');
}

.bg-thunderstorm {
    background-image: url('https://i.pinimg.com/originals/ce/4c/e3/ce4ce321f2729bdaf2c2f0272987301a.jpg');
}